In [209]:
#Dependencies and Set Up
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import seaborn as sns  # For heatmap visualization

In [135]:
%notebook widget

In [179]:
#Creating a path to the file making it into a dataframe
rent_file = pd.read_csv("Raw_Price_Data//price.csv")

rent_df = pd.DataFrame(rent_file)

rent_df.head()

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,6181,New York,New York,Queens,NY,1,NaN,NaN,NaN,NaN,...,2334,2339,2345,2344,2336,2324,2318,2321,2321,2322
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.0,2184.0,2183.0,2188.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
2,17426,Chicago,Chicago,Cook,IL,3,1563.0,1555.0,1547.0,1537.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
3,39051,Houston,Houston,Harris,TX,4,1198.0,1199.0,1199.0,1200.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
4,13271,Philadelphia,Philadelphia,Philadelphia,PA,5,1092.0,1099.0,1094.0,1087.0,...,1206,1211,1218,1222,1223,1220,1216,1211,1209,1212

In [195]:
#Identifying what columns are missing data
clean_rent_df = rent_df.dropna(how = 'any')

clean_rent_df.head()

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.0,2184.0,2183.0,2188.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
2,17426,Chicago,Chicago,Cook,IL,3,1563.0,1555.0,1547.0,1537.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
3,39051,Houston,Houston,Harris,TX,4,1198.0,1199.0,1199.0,1200.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
4,13271,Philadelphia,Philadelphia,Philadelphia,PA,5,1092.0,1099.0,1094.0,1087.0,...,1206,1211,1218,1222,1223,1220,1216,1211,1209,1212
5,40326,Phoenix,Phoenix,Maricopa,AZ,6,1087.0,1080.0,1071.0,1067.0,...,1228,1236,1240,1240,1238,1238,1239,1241,1244,1247

In [138]:
#Extracting states from data (CA, IL, NY, TX)
four_states = ["NY", "CA", "IL", "TX"]

four_states_df = rent_df[rent_df['State'].isin(four_states)]

four_states_df.head(20)

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,6181,New York,New York,Queens,NY,1,NaN,NaN,NaN,NaN,...,2334,2339,2345,2344,2336,2324,2318,2321,2321,2322
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.0,2184.0,2183.0,2188.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
2,17426,Chicago,Chicago,Cook,IL,3,1563.0,1555.0,1547.0,1537.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
3,39051,Houston,Houston,Harris,TX,4,1198.0,1199.0,1199.0,1200.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
7,6915,San Antonio,San Antonio,Bexar,TX,8,1057.0,1043.0,1037.0,1032.0,...,1244,1245,1245,1241,1236,1234,1235,1239,1245,1250
8,54296,San Diego,San Diego,San Diego,CA,9,2070.0,2059.0,2043.0,2030.0,...,2414,2428,2438,2442,2441,2442,2449,2457,2465,2469
9,38128,Dallas,Dallas-Fort Worth,Dallas,TX,10,1114.0,1135.0,1156.0,1159.0,...,1338,1347,1353,1358,1364,1370,1377,1385,1389,1391
10,33839,San Jose,San Jose,Santa Clara,CA,11,2359.0,2367.0,2360.0,2343.0,...,3347,3368,3386,3391,3383,3363,3341,3320,3300,3286
12,20330,San Francisco,San Francisco,San Francisco,CA,13,3188.0,3207.0,3189.0,3127.0,...,4527,4519,4517,4511,4500,4488,4472,4457,4424,4382
14,10221,Austin,Austin,Travis,TX,15,1293.0,1301.0,1312.0,1325.0,...,1790,1799,1807,1808,1803,1795,1789,1788,1786,1780
15,18172,Fort Worth,Dallas-Fort Worth,Tarrant,TX,16,1152.0,1160.0,1166.0,1166.0,...,1346,1351,1354,1353,1351,1352,1357,1365,1371,1375
20,17933,El Paso,El Paso,El Paso,TX,21,1085.0,1083.0,1080.0,1072.0,...,1023,1016,1010,1005,1004,1004,1005,1001,997,993
33,18203,Fresno,Fresno,Fresno,CA,34,1260.0,1249.0,1242.0,1228.0,...,1209,1214,1216,1217,1217,1221,1226,1231,1236,1241
34,20288,Sacramento,Sacramento,Sacramento,CA,35,1295.0,1292.0,1284.0,1273.0,...,1445,1459,1469,1476,1482,1489,1492,1495,1499,1504
36,46298,Long Beach,Los Angeles,Los Angeles,CA,37,1976.0,1971.0,1968.0,1964.0,...,2310,2326,2332,2336,2335,2334,2338,2350,2364,2375
42,13072,Oakland,San Francisco,Alameda,CA,43,1894.0,1861.0,1816.0,1767.0,...,2795,2819,2845,2869,2883,2890,2895,2892,2886,2882
49,50763,Arlington,Dallas-Fort Worth,Tarrant,TX,50,1207.0,1214.0,1213.0,1211.0,...,1410,1418,1425,1428,1430,1432,1435,1439,1443,1447
53,16764,Anaheim,Los Angeles,Orange,CA,54,2181.0,2181.0,2179.0,2170.0,...,2524,2539,2553,2569,2582,2591,2598,2599,2602,2608
54,47568,Santa Ana,Los Angeles,Orange,CA,55,1994.0,1996.0,1996.0,1996.0,...,2450,2464,2471,2469,2465,2461,2462,2465,2467,2473
57,38025,Corpus Christi,Corpus Christi,Nueces,TX,58,1157.0,1161.0,1158.0,1156.0,...,1403,1393,1381,1368,1364,1367,1372,1375,1371,1363

In [139]:
#Droping all NaN values
rent_df.dropna(inplace = True)

#Display the DataFrame
rent_df.head()

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.0,2184.0,2183.0,2188.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
2,17426,Chicago,Chicago,Cook,IL,3,1563.0,1555.0,1547.0,1537.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
3,39051,Houston,Houston,Harris,TX,4,1198.0,1199.0,1199.0,1200.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
4,13271,Philadelphia,Philadelphia,Philadelphia,PA,5,1092.0,1099.0,1094.0,1087.0,...,1206,1211,1218,1222,1223,1220,1216,1211,1209,1212
5,40326,Phoenix,Phoenix,Maricopa,AZ,6,1087.0,1080.0,1071.0,1067.0,...,1228,1236,1240,1240,1238,1238,1239,1241,1244,1247

In [140]:
#New York Data Frame
NY_state = ["NY"]

NY_state_df = rent_df[rent_df['State'].isin(NY_state)]

NY_state_df.head(20)

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
72,17222,Buffalo,Buffalo,Erie,NY,73,881.0,919.0,950.0,955.0,...,873,868,861,857,862,868,876,883,881,878
109,13550,Rochester,Rochester,Monroe,NY,110,959.0,979.0,985.0,951.0,...,950,953,952,945,937,936,943,950,952,951
184,7353,Syracuse,Syracuse,Onondaga,NY,185,1131.0,1131.0,1113.0,1072.0,...,1111,1113,1104,1093,1080,1076,1078,1075,1064,1054
248,30211,Amherst,Buffalo,Erie,NY,249,1500.0,1512.0,1518.0,1516.0,...,1667,1665,1674,1680,1688,1688,1695,1704,1714,1717
341,399214,Town of Greece,Rochester,Monroe,NY,342,936.0,959.0,1012.0,1052.0,...,1341,1354,1364,1367,1360,1349,1340,1340,1338,1339
342,37074,Albany,Albany,Albany,NY,343,1452.0,1457.0,1460.0,1422.0,...,1432,1439,1439,1438,1434,1423,1410,1400,1396,1396
525,37840,Cheektowaga,Buffalo,Erie,NY,526,996.0,1022.0,1039.0,1047.0,...,1113,1121,1140,1155,1177,1192,1205,1198,1196,1200
566,397629,Town of Colonie,Albany,Albany,NY,567,1525.0,1544.0,1550.0,1539.0,...,1630,1647,1657,1651,1651,1658,1670,1676,1673,1664
778,40779,Schenectady,Albany,Schenectady,NY,779,1403.0,1405.0,1403.0,1409.0,...,1293,1312,1328,1334,1331,1308,1279,1253,1236,1229
814,397214,Town of Hamburg,Buffalo,Erie,NY,815,1229.0,1260.0,1260.0,1267.0,...,1421,1421,1411,1386,1336,1279,1240,1243,1266,1302
893,41292,Troy,Albany,Rensselaer,NY,894,1453.0,1435.0,1420.0,1414.0,...,1125,1136,1123,1113,1107,1117,1135,1153,1151,1134
898,46749,Niagara Falls,Buffalo,Niagara,NY,899,1194.0,1214.0,1225.0,1223.0,...,708,710,715,709,696,688,689,705,711,717
943,45893,Irondequoit,Rochester,Monroe,NY,944,949.0,976.0,1019.0,1044.0,...,1317,1328,1337,1341,1338,1327,1312,1305,1300,1302
945,264393,Binghamton,Binghamton,Broome,NY,946,1139.0,1125.0,1141.0,1173.0,...,953,966,969,971,973,981,990,990,994,1002
1020,48438,West Seneca,Buffalo,Erie,NY,1021,1093.0,1122.0,1162.0,1193.0,...,1314,1305,1291,1273,1252,1235,1232,1256,1274,1293
1024,397790,Town of Elmira,Elmira,Chemung,NY,1025,1201.0,1193.0,1205.0,1236.0,...,950,948,931,906,883,870,863,867,860,852
1069,35385,Henrietta,Rochester,Monroe,NY,1070,999.0,1033.0,1092.0,1137.0,...,1428,1440,1454,1457,1461,1460,1467,1473,1468,1459
1102,23146,Clifton Park,Albany,Saratoga,NY,1103,1773.0,1795.0,1819.0,1828.0,...,2008,2007,1994,1985,1976,1980,1999,2028,2057,2069
1159,34312,Tonawanda,Buffalo,Erie,NY,1160,1012.0,1042.0,1073.0,1092.0,...,1198,1183,1163,1146,1142,1151,1170,1195,1213,1224
1275,54320,Saratoga Springs,Albany,Saratoga,NY,1276,1739.0,1788.0,1824.0,1852.0,...,2034,2036,2041,2047,2047,2047,2063,2093,2112,2103

In [142]:
#California Data Frame
CA_state = ["CA"]

CA_state_df = rent_df[rent_df['State'].isin(CA_state)]

CA_state_df.head(20)

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.0,2184.0,2183.0,2188.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
8,54296,San Diego,San Diego,San Diego,CA,9,2070.0,2059.0,2043.0,2030.0,...,2414,2428,2438,2442,2441,2442,2449,2457,2465,2469
10,33839,San Jose,San Jose,Santa Clara,CA,11,2359.0,2367.0,2360.0,2343.0,...,3347,3368,3386,3391,3383,3363,3341,3320,3300,3286
12,20330,San Francisco,San Francisco,San Francisco,CA,13,3188.0,3207.0,3189.0,3127.0,...,4527,4519,4517,4511,4500,4488,4472,4457,4424,4382
33,18203,Fresno,Fresno,Fresno,CA,34,1260.0,1249.0,1242.0,1228.0,...,1209,1214,1216,1217,1217,1221,1226,1231,1236,1241
34,20288,Sacramento,Sacramento,Sacramento,CA,35,1295.0,1292.0,1284.0,1273.0,...,1445,1459,1469,1476,1482,1489,1492,1495,1499,1504
36,46298,Long Beach,Los Angeles,Los Angeles,CA,37,1976.0,1971.0,1968.0,1964.0,...,2310,2326,2332,2336,2335,2334,2338,2350,2364,2375
42,13072,Oakland,San Francisco,Alameda,CA,43,1894.0,1861.0,1816.0,1767.0,...,2795,2819,2845,2869,2883,2890,2895,2892,2886,2882
53,16764,Anaheim,Los Angeles,Orange,CA,54,2181.0,2181.0,2179.0,2170.0,...,2524,2539,2553,2569,2582,2591,2598,2599,2602,2608
54,47568,Santa Ana,Los Angeles,Orange,CA,55,1994.0,1996.0,1996.0,1996.0,...,2450,2464,2471,2469,2465,2461,2462,2465,2467,2473
60,47401,Riverside,Riverside,Riverside,CA,61,1557.0,1571.0,1580.0,1580.0,...,1734,1742,1748,1748,1748,1750,1754,1761,1769,1778
63,3506,Bakersfield,Bakersfield,Kern,CA,64,1305.0,1275.0,1278.0,1293.0,...,1344,1342,1339,1335,1331,1330,1330,1334,1341,1344
70,7266,Stockton,Stockton,San Joaquin,CA,71,1185.0,1169.0,1155.0,1151.0,...,1315,1322,1325,1328,1330,1334,1338,1343,1354,1363
76,25934,Modesto,Modesto,Stanislaus,CA,77,1168.0,1154.0,1136.0,1108.0,...,1279,1293,1303,1312,1320,1326,1331,1332,1336,1340
89,20328,San Bernardino,Riverside,San Bernardino,CA,90,1216.0,1230.0,1236.0,1241.0,...,1362,1369,1376,1382,1387,1391,1398,1410,1423,1434
90,24225,Corona,Riverside,Riverside,CA,91,1983.0,1980.0,1972.0,1960.0,...,2119,2124,2128,2132,2134,2136,2141,2147,2152,2155
91,51405,Chula Vista,San Diego,San Diego,CA,92,2096.0,2098.0,2088.0,2069.0,...,2335,2349,2362,2372,2376,2377,2380,2382,2383,2380
96,24741,Fontana,Riverside,San Bernardino,CA,97,1575.0,1573.0,1567.0,1572.0,...,1804,1818,1828,1833,1834,1833,1835,1838,1843,1848
102,11540,Fremont,San Francisco,Alameda,CA,103,2203.0,2212.0,2204.0,2188.0,...,3123,3149,3171,3174,3171,3169,3173,3173,3163,3150
111,52650,Irvine,Los Angeles,Orange,CA,112,2529.0,2544.0,2553.0,2568.0,...,3112,3130,3138,3140,3134,3127,3125,3130,3136,3145

In [143]:
#Illinois Data Frame
IL_state = ["IL"]

IL_state_df = rent_df[rent_df['State'].isin(IL_state)]

IL_state_df.head(20)

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
2,17426,Chicago,Chicago,Cook,IL,3,1563.0,1555.0,1547.0,1537.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
152,10215,Aurora,Chicago,Kane,IL,153,1390.0,1395.0,1396.0,1397.0,...,1557,1545,1534,1528,1526,1526,1533,1538,1544,1543
176,39931,Naperville,Chicago,Du Page,IL,177,2008.0,2015.0,2031.0,2049.0,...,2325,2318,2312,2311,2314,2313,2309,2311,2314,2318
244,32238,Joliet,Chicago,Will,IL,245,1300.0,1302.0,1296.0,1289.0,...,1393,1391,1385,1379,1378,1381,1382,1373,1360,1345
281,19903,Peoria,Peoria,Peoria,IL,282,1196.0,1207.0,1211.0,1213.0,...,911,909,886,856,832,826,833,848,856,864
384,17943,Elgin,Chicago,Kane,IL,385,1400.0,1406.0,1405.0,1409.0,...,1605,1597,1585,1573,1563,1554,1551,1553,1555,1556
424,44597,Cicero,Chicago,Cook,IL,425,1320.0,1337.0,1334.0,1325.0,...,1412,1419,1421,1421,1418,1408,1401,1395,1393,1391
489,23742,Bloomington,Bloomington,McLean,IL,490,1367.0,1408.0,1450.0,1486.0,...,1254,1232,1221,1211,1195,1178,1174,1200,1226,1255
502,50764,Arlington Heights,Chicago,Cook,IL,503,1710.0,1726.0,1742.0,1745.0,...,1945,1944,1944,1956,1971,1988,1990,1992,1990,1996
509,18025,Evanston,Chicago,Cook,IL,510,1676.0,1691.0,1704.0,1704.0,...,1912,1910,1907,1909,1910,1912,1913,1918,1921,1922
518,41587,Waukegan,Chicago,Lake,IL,519,1194.0,1187.0,1183.0,1184.0,...,1313,1307,1299,1294,1289,1287,1288,1289,1290,1289
569,26534,Plainfield,Chicago,Will,IL,570,1782.0,1773.0,1757.0,1748.0,...,1818,1819,1817,1816,1816,1817,1815,1811,1809,1806
603,33889,Schaumburg,Chicago,Cook,IL,604,1553.0,1563.0,1565.0,1556.0,...,1676,1669,1664,1661,1665,1666,1665,1662,1657,1656
627,26362,Palatine,Chicago,Cook,IL,628,1595.0,1607.0,1611.0,1608.0,...,1771,1767,1764,1762,1765,1766,1764,1761,1757,1755
660,10484,Bolingbrook,Chicago,Will,IL,661,1670.0,1661.0,1650.0,1643.0,...,1733,1740,1746,1747,1745,1743,1745,1740,1729,1716
680,33256,Orland Park,Chicago,Cook,IL,681,1832.0,1829.0,1809.0,1787.0,...,1954,1952,1950,1933,1920,1917,1921,1924,1916,1906
683,17761,Des Plaines,Chicago,Cook,IL,684,1581.0,1581.0,1579.0,1570.0,...,1711,1708,1709,1712,1717,1721,1719,1722,1723,1728
736,6267,Oak Lawn,Chicago,Cook,IL,737,1504.0,1508.0,1507.0,1509.0,...,1546,1542,1541,1546,1547,1544,1536,1533,1530,1532
743,20514,Skokie,Chicago,Cook,IL,744,1588.0,1597.0,1602.0,1594.0,...,1800,1807,1809,1809,1810,1808,1806,1815,1826,1835
756,50985,Berwyn,Chicago,Cook,IL,757,1480.0,1479.0,1473.0,1462.0,...,1572,1569,1565,1558,1552,1542,1535,1534,1538,1547

In [144]:
#Texas Data Frame
TX_state = ["TX"]

TX_state_df = rent_df[rent_df['State'].isin(TX_state)]

TX_state_df.head(20)

,City Code,City,Metro,County,State,Population Rank,November 2010,December 2010,January 2011,February 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
3,39051,Houston,Houston,Harris,TX,4,1198.0,1199.0,1199.0,1200.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
7,6915,San Antonio,San Antonio,Bexar,TX,8,1057.0,1043.0,1037.0,1032.0,...,1244,1245,1245,1241,1236,1234,1235,1239,1245,1250
9,38128,Dallas,Dallas-Fort Worth,Dallas,TX,10,1114.0,1135.0,1156.0,1159.0,...,1338,1347,1353,1358,1364,1370,1377,1385,1389,1391
14,10221,Austin,Austin,Travis,TX,15,1293.0,1301.0,1312.0,1325.0,...,1790,1799,1807,1808,1803,1795,1789,1788,1786,1780
15,18172,Fort Worth,Dallas-Fort Worth,Tarrant,TX,16,1152.0,1160.0,1166.0,1166.0,...,1346,1351,1354,1353,1351,1352,1357,1365,1371,1375
20,17933,El Paso,El Paso,El Paso,TX,21,1085.0,1083.0,1080.0,1072.0,...,1023,1016,1010,1005,1004,1004,1005,1001,997,993
49,50763,Arlington,Dallas-Fort Worth,Tarrant,TX,50,1207.0,1214.0,1213.0,1211.0,...,1410,1418,1425,1428,1430,1432,1435,1439,1443,1447
57,38025,Corpus Christi,Corpus Christi,Nueces,TX,58,1157.0,1161.0,1158.0,1156.0,...,1403,1393,1381,1368,1364,1367,1372,1375,1371,1363
71,53915,Plano,Dallas-Fort Worth,Collin,TX,72,1657.0,1670.0,1674.0,1674.0,...,1948,1952,1957,1956,1953,1947,1943,1944,1946,1951
79,53060,Lubbock,Lubbock,Lubbock,TX,80,1101.0,1106.0,1108.0,1107.0,...,1183,1182,1178,1175,1175,1176,1180,1183,1181,1176
95,18251,Garland,Dallas-Fort Worth,Dallas,TX,96,1127.0,1147.0,1162.0,1164.0,...,1370,1380,1387,1389,1389,1390,1393,1404,1414,1425
99,52893,Laredo,Laredo,Webb,TX,100,976.0,978.0,987.0,997.0,...,1216,1221,1215,1197,1166,1132,1108,1097,1090,1096
106,12065,Irving,Dallas-Fort Worth,Dallas,TX,107,1209.0,1218.0,1218.0,1215.0,...,1458,1464,1471,1473,1472,1471,1472,1477,1483,1490
141,51167,Brownsville,Brownsville,Cameron,TX,142,925.0,929.0,934.0,935.0,...,939,936,934,934,930,925,919,915,911,907
143,16753,Amarillo,Amarillo,Potter,TX,144,1067.0,1069.0,1065.0,1065.0,...,1200,1196,1190,1182,1174,1161,1151,1147,1150,1152
155,31821,Grand Prairie,Dallas-Fort Worth,Dallas,TX,156,1238.0,1234.0,1226.0,1219.0,...,1399,1406,1416,1423,1428,1431,1435,1438,1444,1448
160,5424,Killeen,Killeen,Bell,TX,161,1034.0,1030.0,1020.0,1004.0,...,946,946,942,936,932,931,931,930,930,932
196,35282,Beaumont,Beaumont,Jefferson,TX,197,1117.0,1119.0,1108.0,1098.0,...,1067,1055,1040,1036,1033,1041,1054,1071,1083,1086
197,19865,Pasadena,Houston,Harris,TX,198,1090.0,1083.0,1074.0,1071.0,...,1319,1322,1325,1324,1326,1327,1328,1326,1321,1314
202,41114,Sugar Land,Houston,Fort Bend,TX,203,1936.0,1922.0,1927.0,1937.0,...,2159,2149,2137,2116,2087,2058,2037,2027,2020,2012

In [145]:
#Making all of the columsn into a list
columns_list = ['November 2010','December 2010','January 2011',
'February 2011','March 2011','April 2011','May 2011','June 2011','July 2011',
'August 2011','September 2011','October 2011','November 2011','December 2011',
'January 2012','February 2012','March 2012','April 2012','May 2012','June 2012',
'July 2012','August 2012','September 2012','October 2012','November 2012','December 2012',
'January 2013','February 2013','March 2013','April 2013','May 2013','June 2013','July 2013',
'August 2013','September 2013','October 2013','November 2013','December 2013','January 2014',
'February 2014','March 2014','April 2014','May 2014','June 2014','July 2014','August 2014',
'September 2014','October 2014','November 2014','December 2014','January 2015','February 2015',
'March 2015','April 2015','May 2015','June 2015','July 2015','August 2015','September 2015','October 2015',
'November 2015','December 2015','January 2016','February 2016','March 2016','April 2016','May 2016',
'June 2016','July 2016','August 2016','September 2016','October 2016','November 2016','December 2016','January 2017']

In [196]:
# US median rent prices
US_med_list = []

for i in columns_list:

    US_med_rent = np.median(clean_rent_df[i])

    US_med_list.append(US_med_rent)

print(US_med_list)

[1206.0, 1214.0, 1218.0, 1219.0, 1220.0, 1220.0, 1218.0, 1217.0, 1214.0, 1213.0, 1210.0, 1207.0, 1206.0, 1205.0, 1204.0, 1205.0, 1207.0, 1206.0, 1205.0, 1205.0, 1205.0, 1206.0, 1208.0, 1210.0, 1215.0, 1215.0, 1215.0, 1216.0, 1217.0, 1217.0, 1218.0, 1221.0, 1224.0, 1225.0, 1228.0, 1231.0, 1235.0, 1236.0, 1236.0, 1234.0, 1232.0, 1229.0, 1227.0, 1223.0, 1226.0, 1232.0, 1245.0, 1253.0, 1259.0, 1263.0, 1269.0, 1272.0, 1276.0, 1280.0, 1284.0, 1289.0, 1295.0, 1299.0, 1298.0, 1294.0, 1293.0, 1292.0, 1294.0, 1298.0, 1303.0, 1308.0, 1312.0, 1313.0, 1311.0, 1306.0, 1305.0, 1305.0, 1307.0, 1308.0, 1306.0]

In [198]:
US_med_df = pd.DataFrame(US_med_list, columns_list).T 

US_med_df.head()

,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,August 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,1206.0,1214.0,1218.0,1219.0,1220.0,1220.0,1218.0,1217.0,1214.0,1213.0,...,1308.0,1312.0,1313.0,1311.0,1306.0,1305.0,1305.0,1307.0,1308.0,1306.0

In [176]:
# For loop to calculate the median value of each column in IL
IL_med_list = []

for i in columns_list:

    IL_med_rent = np.median(IL_state_df[i])

    IL_med_list.append(IL_med_rent)

print(IL_med_list)

[1419.0, 1419.5, 1425.0, 1426.0, 1422.5, 1421.5, 1413.5, 1406.5, 1392.5, 1382.0, 1380.0, 1370.0, 1363.5, 1355.5, 1349.0, 1344.0, 1341.0, 1344.0, 1344.0, 1347.5, 1347.0, 1346.0, 1351.0, 1359.5, 1371.0, 1370.0, 1364.5, 1351.5, 1345.5, 1347.0, 1354.0, 1360.0, 1363.0, 1364.5, 1372.5, 1379.0, 1385.5, 1392.0, 1399.0, 1400.5, 1395.0, 1393.0, 1387.0, 1385.5, 1379.5, 1384.0, 1385.0, 1386.5, 1397.0, 1406.5, 1411.5, 1408.0, 1416.5, 1414.5, 1413.0, 1413.0, 1414.5, 1414.0, 1411.0, 1403.0, 1398.5, 1396.0, 1405.5, 1408.0, 1413.0, 1416.5, 1424.5, 1424.0, 1431.0, 1426.5, 1418.0, 1410.0, 1405.0, 1397.0, 1394.0]

In [177]:
# Putting IL med rent prices for each month and year into a DF
IL_med_df = pd.DataFrame(IL_med_list, columns_list).T 

IL_med_df.head()

,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,August 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,1419.0,1419.5,1425.0,1426.0,1422.5,1421.5,1413.5,1406.5,1392.5,1382.0,...,1416.5,1424.5,1424.0,1431.0,1426.5,1418.0,1410.0,1405.0,1397.0,1394.0

In [147]:
#Califonia Combined Median Rents
CA_med_list = []

for i in columns_list:

    CA_med_rent = np.median(CA_state_df[i])

    CA_med_list.append(CA_med_rent)

print(CA_med_list)

[1776.5, 1776.0, 1770.0, 1754.0, 1738.5, 1729.0, 1716.5, 1717.5, 1719.5, 1718.0, 1712.5, 1710.5, 1710.0, 1705.0, 1702.5, 1695.5, 1696.5, 1697.0, 1700.5, 1713.5, 1710.5, 1709.0, 1702.0, 1704.5, 1700.0, 1701.0, 1707.5, 1718.5, 1728.0, 1735.0, 1743.0, 1756.5, 1763.0, 1764.5, 1767.0, 1773.5, 1779.5, 1781.5, 1782.5, 1781.0, 1785.5, 1784.5, 1787.0, 1790.0, 1794.0, 1807.5, 1824.0, 1842.5, 1859.5, 1875.0, 1885.0, 1899.0, 1907.0, 1921.5, 1935.0, 1946.0, 1957.0, 1969.0, 1977.0, 1982.0, 1995.0, 2004.0, 2014.5, 2036.5, 2056.0, 2062.5, 2072.0, 2092.0, 2104.0, 2115.0, 2124.5, 2128.5, 2134.0, 2150.5, 2163.0]

In [175]:
# Putting CA med rent prices for each month and year into a DF
CA_med_df = pd.DataFrame(CA_med_list, columns_list).T 

CA_med_df.head()

,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,August 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,1776.5,1776.0,1770.0,1754.0,1738.5,1729.0,1716.5,1717.5,1719.5,1718.0,...,2062.5,2072.0,2092.0,2104.0,2115.0,2124.5,2128.5,2134.0,2150.5,2163.0

In [172]:
#Finding the median for all TX rent prices per month/year
TX_med_list=[]
for i in columns_list:

    TX_med_rent = np.median(TX_state_df[i])

    TX_med_list.append(TX_med_rent)

print(TX_med_list)

[1190.0, 1189.0, 1194.0, 1189.0, 1186.0, 1183.0, 1182.0, 1189.0, 1184.0, 1179.0, 1181.0, 1174.0, 1173.0, 1167.0, 1164.0, 1162.0, 1165.0, 1159.0, 1155.0, 1158.0, 1168.0, 1172.0, 1177.0, 1179.0, 1173.0, 1171.0, 1175.0, 1174.0, 1181.0, 1196.0, 1202.0, 1200.0, 1197.0, 1201.0, 1205.0, 1208.0, 1212.0, 1221.0, 1224.0, 1224.0, 1222.0, 1225.0, 1221.0, 1218.0, 1221.0, 1234.0, 1245.0, 1256.0, 1272.0, 1275.0, 1282.0, 1287.0, 1289.0, 1297.0, 1300.0, 1309.0, 1313.0, 1319.0, 1323.0, 1325.0, 1320.0, 1312.0, 1313.0, 1319.0, 1326.0, 1325.0, 1338.0, 1346.0, 1350.0, 1343.0, 1340.0, 1335.0, 1335.0, 1337.0, 1337.0]

In [173]:
# Putting TX med rent prices for each month and year into a DF
TX_med_df = pd.DataFrame(TX_med_list, columns_list).T 

TX_med_df.head()

,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,August 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,1190.0,1189.0,1194.0,1189.0,1186.0,1183.0,1182.0,1189.0,1184.0,1179.0,...,1325.0,1338.0,1346.0,1350.0,1343.0,1340.0,1335.0,1335.0,1337.0,1337.0

In [180]:
#New York
NY_med_list=[]

for i in columns_list:

    NY_med_rent = np.median(NY_state_df[i])
    NY_med_list.append(NY_med_rent)

print(NY_med_list)

[1356.5, 1359.5, 1369.5, 1383.5, 1380.5, 1388.0, 1390.5, 1401.0, 1401.0, 1399.0, 1397.0, 1399.0, 1400.5, 1399.0, 1391.5, 1383.0, 1376.0, 1378.0, 1396.0, 1411.0, 1428.5, 1438.0, 1437.5, 1431.0, 1417.5, 1416.0, 1419.5, 1432.0, 1434.0, 1431.5, 1434.0, 1418.5, 1384.5, 1368.5, 1366.5, 1379.0, 1398.5, 1395.0, 1378.5, 1360.0, 1357.5, 1351.0, 1341.0, 1342.0, 1362.5, 1382.0, 1400.5, 1410.0, 1418.5, 1430.0, 1440.5, 1443.0, 1449.0, 1448.5, 1444.5, 1437.5, 1428.5, 1403.0, 1388.5, 1376.0, 1371.5, 1363.0, 1368.0, 1365.0, 1374.5, 1380.0, 1385.5, 1390.5, 1401.5, 1399.0, 1394.5, 1392.5, 1389.5, 1386.5, 1375.5]

In [181]:
#Putting NY med rent prices for each month and year into a DF
NY_med_df = pd.DataFrame(NY_med_list, columns_list).T 

NY_med_df.head()

,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,August 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,1356.5,1359.5,1369.5,1383.5,1380.5,1388.0,1390.5,1401.0,1401.0,1399.0,...,1380.0,1385.5,1390.5,1401.5,1399.0,1394.5,1392.5,1389.5,1386.5,1375.5

In [226]:
#Combined Median rent data for 4 states
TX_CA_df = pd.concat([TX_med_df, CA_med_df], axis=0)

IL_NY_df = pd.concat([IL_med_df, NY_med_df], axis=0)

states_med_rent = pd.concat([TX_CA_df, IL_NY_df], axis=0)

#0 = TX, 1 = CA, 2 = IL, 3 = NY
states_med_rent.insert(0, "State", ["TX", "CA", "IL", "NY"])

states_med_rent.head()

,State,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,TX,1190.0,1189.0,1194.0,1189.0,1186.0,1183.0,1182.0,1189.0,1184.0,...,1325.0,1338.0,1346.0,1350.0,1343.0,1340.0,1335.0,1335.0,1337.0,1337.0
0,CA,1776.5,1776.0,1770.0,1754.0,1738.5,1729.0,1716.5,1717.5,1719.5,...,2062.5,2072.0,2092.0,2104.0,2115.0,2124.5,2128.5,2134.0,2150.5,2163.0
0,IL,1419.0,1419.5,1425.0,1426.0,1422.5,1421.5,1413.5,1406.5,1392.5,...,1416.5,1424.5,1424.0,1431.0,1426.5,1418.0,1410.0,1405.0,1397.0,1394.0
0,NY,1356.5,1359.5,1369.5,1383.5,1380.5,1388.0,1390.5,1401.0,1401.0,...,1380.0,1385.5,1390.5,1401.5,1399.0,1394.5,1392.5,1389.5,1386.5,1375.5

In [233]:
#Create a table with US Med in it

ALL_med_rent = pd.concat([states_med_rent, US_med_df], axis=0)

#ALL_med_rent.set_index("State")
#ALL_med_rent[ALL_med_rent.index[-1]] = "US"

ALL_med_rent.head()

,State,November 2010,December 2010,January 2011,February 2011,March 2011,April 2011,May 2011,June 2011,July 2011,...,April 2016,May 2016,June 2016,July 2016,August 2016,September 2016,October 2016,November 2016,December 2016,January 2017
0,TX,1190.0,1189.0,1194.0,1189.0,1186.0,1183.0,1182.0,1189.0,1184.0,...,1325.0,1338.0,1346.0,1350.0,1343.0,1340.0,1335.0,1335.0,1337.0,1337.0
0,CA,1776.5,1776.0,1770.0,1754.0,1738.5,1729.0,1716.5,1717.5,1719.5,...,2062.5,2072.0,2092.0,2104.0,2115.0,2124.5,2128.5,2134.0,2150.5,2163.0
0,IL,1419.0,1419.5,1425.0,1426.0,1422.5,1421.5,1413.5,1406.5,1392.5,...,1416.5,1424.5,1424.0,1431.0,1426.5,1418.0,1410.0,1405.0,1397.0,1394.0
0,NY,1356.5,1359.5,1369.5,1383.5,1380.5,1388.0,1390.5,1401.0,1401.0,...,1380.0,1385.5,1390.5,1401.5,1399.0,1394.5,1392.5,1389.5,1386.5,1375.5
0,NaN,1206.0,1214.0,1218.0,1219.0,1220.0,1220.0,1218.0,1217.0,1214.0,...,1308.0,1312.0,1313.0,1311.0,1306.0,1305.0,1305.0,1307.0,1308.0,1306.0

In [211]:
#Starter code for visualizations-- just needs mods

plt.figure(figsize=(10, 6))
sns.lineplot(x='Year', y='Rent', data=df, ci=None)
plt.title('Rent Prices Over Time')
plt.xlabel('Year')
plt.ylabel('Rent Price')
plt.show()

NameError: name 'df' is not defined

In [ ]:
#Starter code for visualizations-- just needs mods
# Bar Plot: Average Rent Prices by State
plt.figure(figsize=(12, 6))
sns.barplot(x='State', y='Rent', data=df)
plt.title('Average Rent Prices by State')
plt.xlabel('State')
plt.ylabel('Average Rent Price')
plt.xticks(rotation=45)
plt.show()

In [ ]:
#Starter code for visualizations-- just needs mods
# Heatmap: Rent Prices by Month and Year
heatmap_data = df.pivot_table(values='Rent', index='Month', columns='Year')
plt.figure(figsize=(10, 6))
sns.heatmap(heatmap_data, cmap='YlGnBu', annot=True, fmt='.1f')
plt.title('Rent Prices by Month and Year')
plt.xlabel('Year')
plt.ylabel('Month')
plt.show()

In [ ]:
#Starter code for visualizations-- just needs mods
# Scatter Plot: Rent Prices vs. Location (Latitude vs. Longitude)
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Longitude', y='Latitude', hue='Rent', data=df, palette='coolwarm')
plt.title('Rent Prices vs. Location')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.show()